---
layout: default
---

<!DOCTYPE html>

<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <link href="/assets/css/knock.css" rel="stylesheet">
  <link href="/assets/css/knock2.css" rel="stylesheet">
  <script>

    Kakao.init('bcc078e14b45da8aab1c2afda496dea9');
    try {
      function sendLink() {
        Kakao.Link.sendDefault({
          objectType: 'feed',
          content: {
            title: '{{ page.title }}',
            description: '김소해의 포트폴리오를 공유합니다!',
            imageUrl:
              'http://localhost:4000/assets/img/projects/knock/thumbnail.jpg',
            link: {
              mobileWebUrl: document.location.href,
              webUrl: document.location.href,
            },
          },
          buttons: [
            {
              title: '웹으로 보기',
              link: {
                mobileWebUrl: document.location.href,
                webUrl: document.location.href,
              },
            }
          ],
        })
      }
      ; window.kakaoDemoCallback && window.kakaoDemoCallback()
    }
    catch (e) { window.kakaoDemoException && window.kakaoDemoException(e) }
  </script>
</head>

<body>
  <div id="container">
    <div id="hero" class="d-flex justify-content-center align-items-center">
      <div class="knock-container position-relative" style="color:white">
        <center>
          <br>
          <h1> Knock!綠!<br></h1>
          <h2 style="font-weight:100">Knock Environment, Knock your life.<br>
            To make our planet greener.</h2>
          <div class="knock-introduction">환경보호 주제의 펀딩 사이트로,<br>
            <span style="color:#fff089">저는 <span style="font-weight:400;">캠페인 기능</span>을 담당했습니다.</span><br>
            <span style="font-weight:400 ">Spring+MyBatis+SQL developer</span>를 사용해 개발하였고<br>다양한 <span
              style="font-weight:400">라이브러리와 API</span>를 공부하며 진행했습니다.<br>
          </div><br>
          <a href=#knock-introduce class="btn-get-started btn-1">
            상세보기</a><a href="https://github.com/Knock-bit/KnockKnock" target="_blank" class="btn-get-started"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;github</a>
        </center>
      </div>
    </div>

    <div class="knock-introduce" id="knock-introduce">

      <br>

      <div class="knock environment">
        <center>
          <h2 class="light">개발환경</h2><br>
          <div id='logos' style='line-height:5em; '>
            <a frameborder="0" data-theme="light" data-layers="1,2,3,4" data-stack-embed="true"
              href="https://embed.stackshare.io/stacks/embed/50ca04cdb406b3f38c18618d8320b6" /></a>
            <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>

          </div>


          <div class="knock">
            <center>
              <h2 class="light">프로젝트 개요</h1>
            </center>

            <!-- ======= Counts Section ======= -->
            <div id="counts" class="counts" style="color:white">
              <div class="knock-container">
                <center>

                  <div style="font-weight:100; font-size: x-large;line-height: 1.4em;">
                    <span style='color:#fff089; font-weight:400'><b><i>01</i></b></span>
                    환경문제 인식 개선을 위한<br><span style="font-weight:400">캠페인 제안</span><br><br>
                    <span style='color:#fff089; font-weight:400'><b><i>02 </i></b></span>
                    지속가능한 소비를 위한<br><span style="font-weight:400">쇼핑몰 운영</span></h3>
                  </div>
                </center>
              </div>
            </div>
            <center>
              <h2 class="light">주요 기능</h1>
            </center>
          </div>
          <!-- End Counts Section -->
          <div id="why-us" class="why-us">
            <div class="row">
              <div class="col-lg-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                  <div class="row">
                    <div class="col-lg-6 col-sm-6 d-flex align-items-stretch function-box">
                      <div class="icon-box mt-4 mt-xl-0" style="padding-bottom:33px;">
                        <i class="glyphicon glyphicon-user"></i>
                        <h4>회원가입<br>로그인</h4>
                        <p>회원가입/로그인<br>
                          마이페이지<br>
                          문의하기
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 d-flex align-items-stretch function-box">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="glyphicon glyphicon-grain"></i>
                        <h4>캠페인</h4>
                        <p>
                          캠페인참여<br> 펀딩참여 <br> 캠페인제안<br>커뮤니티(게시판)</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 d-flex align-items-stretch function-box">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <h4>쇼핑몰</h4>
                        <p>상품관리<br>
                          주문<br>
                          결제<br>
                          판매내역</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 d-flex align-items-stretch function-box">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="glyphicon glyphicon-cog"></i>
                        <h4>관리자</h4>
                        <p>회원 관리<br>
                          캠페인 관리<br>
                          문의 <br> 답변
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End .content-->
              </div>
            </div>

          </div>
      </div>

    </div>
    <div class="knock-detail">
      <div class="knock">
        <center>
          <h2 class="light">화면구현</h1>
            <div class="swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper" style="height:100%">
                <!-- Slides -->
                <div class="swiper-slide"><a href="/assets/img/projects/knock/screen1.png" target="_blank"><img
                      src="/assets/img/projects/knock/screen1.png"></a></div>
                <div class="swiper-slide"><a href="/assets/img/projects/knock/screen2.png" target="_blank"><img
                      src="/assets/img/projects/knock/screen2.png"></a></div>
                <!-- <div class="swiper-slide"><a href="/assets/img/projects/knock/screen4.png" target="_blank"><img
                      src="/assets/img/projects/knock/screen4.png"></a></div> -->
                <div class="swiper-slide"><a href="/assets/img/projects/knock/screen5.png" target="_blank"><img
                      src="/assets/img/projects/knock/screen5.png"></a></div>
                <!-- <div class="swiper-slide"><a href="/assets/img/projects/knock/screen6.png" target="_blank"><img
                      src="/assets/img/projects/knock/screen6.png"></a></div> -->
                <div class="swiper-slide"><a href="/assets/img/projects/knock/screen7.png" target="_blank"><img
                      src="/assets/img/projects/knock/screen7.png"></a></div>
                <div class="swiper-slide"><a href="/assets/img/projects/knock/screen8.png" target="_blank"><img
                      src="/assets/img/projects/knock/screen8.png"></a></div>
                <div class="swiper-slide"><a href="/assets/img/projects/knock/screen9.png" target="_blank"><img
                      src="/assets/img/projects/knock/screen9.png"></a></div>

              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
              <!-- pips will go here -->

            </div>


            <div class="knock" id="campaign">

              <h2 class="light">캠페인기능 상세보기</h1>




                <div class="swiper-container">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper" style="height:100%">
                    <!-- Slides -->
                    <div class="swiper-slide function"><a href="/assets/img/projects/knock/knock1.png"
                        target="_blank"><img src="/assets/img/projects/knock/knock1.png"></a>
                      <h1 style="font-weight:500">#1 캠페인 제안</h1><br>

                      <div class="function-desc">녹녹의 캠페인은 <br>사용자의 제안으로부터 시작됩니다.<br><br><br>

                        1. input form을 통해 캠페인 제안에 필요한 정보들(캠페인 제목, 실천법, 목표 포인트)을 사용자가 직접 입력할 수 있습니다.
                        <br><br>2. Summernote 에디터 활용 - 텍스트와 이미지를 자유롭게 편집할 수 있도록 하였습니다.
                        <br><br>3. 에디터로 쓰여지는 내용과 별개로, 대표 이미지는 스프링에서 제공하는 파일 업로드 라이브러리를 사용하였습니다.
                      </div>
                    </div>
                    <div class="swiper-slide function"><a href="/assets/img/projects/knock/knock3.png"
                        target="_blank"><img src="/assets/img/projects/knock/knock3.png"></a>
                      <h1 style="font-weight:500">#2 캠페인 펀딩</h1><br>
                      <div class="function-desc">승인된 캠페인은<br>펀딩 페이지에 등록됩니다.<br><br><br>
                        1. 펀딩하기 버튼을 누르면 modal창을 통해 펀딩진행 여부를 묻습니다.<br><br>
                        2. 펀딩할 시, ajax를 통해 사용자의 펀딩참여를 전송하고, 업데이트된 펀딩 데이터를 전달받아 화면에 보여줍니다.<br><br>
                        3. 사용자의 펀딩참여 여부를 함께 불러와 같은 화면에서 바로 취소처리를 할 수 있습니다.

                      </div>
                    </div>
                    <div class="swiper-slide function"><a href="/assets/img/projects/knock/knock4.png"
                        target="_blank"><img src="/assets/img/projects/knock/knock4.png"></a>
                      <h1 style="font-weight:500">#3 캠페인 리스트</h1><br>
                      <div class="function-desc">펀딩에 성공하면<br>캠페인 페이지에 등록됩니다.<br><br><br>

                        1. carousel 배너를 통해 홈페이지 사용법을 알리고 참여를 유도합니다.
                        <br><br>2. 진행중인 캠페인의 제목을 검색할 수 있으며 조회기준을 설정하여 사용자가 쉽게 접근할 수 있도록 하였습니다.
                        <br><br>3. 캠페인 관련 정보와 함께, select문을 통해 주최자 정보와 참가자 수를 함께 조회합니다.
                      </div>
                    </div>
                    <div class="swiper-slide function"><a href="/assets/img/projects/knock/knock5.png"
                        target="_blank"><img src="/assets/img/projects/knock/knock5.png"></a>
                      <h1 style="font-weight:500">#4 캠페인 상세보기</h1><br>
                      <div class="function-desc"><br><br><br>
                          1. 대표이미지를 비롯해, summernote 에디터로 작성한 내용이 그대로 좌측에 표시됩니다.
                        <br><br>2. 우측에는 캠페인 정보와 함께 (카카오)공유하기, 참여하기 버튼이 표시됩니다.
                        javascript로 구현하였습니다.
                        TRY: <button onclick="sendLink();" id="share" class="btn-funding"><i
                          class="glyphicon glyphicon-share-alt"></i> </button>
                        <br><br>3. 키워드가 공통되는 캠페인을 추출하여, 비슷한 캠페인을 추천해줍니다.
                      </div>
                    </div>
                  <div class="swiper-slide function"><a href="/assets/img/projects/knock/knock6.png"
                      target="_blank"><img src="/assets/img/projects/knock/knock6.png"></a>
                      <h1 style="font-weight:500">#5 캠페인 커뮤니티</h1><br>
                      <div class="function-desc"><br><br><br>
                          1. 내부 메뉴바 '커뮤니티'나 우측 '참여하기' 버튼을 누를 시 비동기처리로 커뮤니티로 이동합니다
                        <br><br>2. 조회한 캠페인의 인덱스를 파라미터로 받아, 해당 캠페인의 커뮤니티를 불러오고 게시글들과 댓글을 확인할 수 있습니다.

                        <br><br>3. ajax를 통해 댓글을 입력, 수정, 삭제할 수 있으며 유저 프로필사진과 댓글시간 조회가 가능합니다.
                      </div>
                    </div>
                  <div class="swiper-slide function">
                    <br><h1 style="font-weight:500">#6 포인트 분배</h1><br>
                      <div class="function-desc"><br><br><br>
                          1. 관리자단의 자바스케쥴러를 통해, 캠페인 종료일이 되면 자동으로 캠페인이 종료처리됩니다.
                        <br><br>2. 이 때, 캠페인 참여횟수가 가장 많은 순서대로 랭킹을 산정합니다. 미리 정한 수식에 따라 포인트가 각각 분배됩니다.
                        <br><br>3. 펀딩의 경우, 펀딩에 실패한 경우 펀딩 참가자들에게 포인트가 반환됩니다.
                      </div>
                    </div>
                 

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- pips will go here -->

            </div>



            <!--end campaign-->
      </div>
      <div class="last light" style="font-size: medium;">
      <div>
        <h1> <i class="glyphicon glyphicon-grain"></i></h1>
        <h2>개발일지</h2><br>
        <span style="font-weight:400">매뉴얼/이름규칙/논의사항/DB설계<br>개인 진행상황/회의록</span>을<br>
        노션을 통해 기록하고 공유하며 개발을 진행하였습니다.<br><br>
        <a href="https://www.notion.so/Knock-Final-Project-40fcaf1c922542128cb61b24fe1637a0"><img src="/assets/img/projects/knock/notion-logo-1.png" width="20"></a>
        <a class="yellow" href="https://www.notion.so/Knock-Final-Project-40fcaf1c922542128cb61b24fe1637a0">Knock!綠 노션 바로가기</a> <br><br>
      </div>
      <div>
        <h1> - </h1><br>
        <br>


        약 3주의 개발기간 이후<br> 미흡했던 부분을 보완하는 동시에<br>
        프로젝트에 사용된 라이브러리와 API를 블로그에 정리하고 있습니다.<br><br>

        <a class="yellow" href="https://github.com/Knock-bit/KnockKnock" target="_blank">[github] knock!綠! repository</a><br>
        <a class="yellow" href="/sending-mail-by-java.html" target="_blank">[blog] 자바로 이메일 보내기</a><br>
        <a class="yellow" href="">[blog] 자바 스케쥴러</a><br>
        <a class="yellow" href="">[blog] 결제 API 사용하기</a><br>


        <a href=# class="btn-return" style="color:white">
          상단으로</a>

      </div></div>
      </center>
    </div>
  </div>

  </div>



  <!-- If we need navigation buttons -->

  </div>
  </div>
</body>
<!-- <script src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>
<script src="/assets/js/scroll.js"></script> -->


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper-container', {
    // Optional parameters
    spaceBetween: 30,
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    mousewheel: {
      invert: false,
    },
  });

</script>