---
layout: default
---

<!DOCTYPE html>
<head>
 
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link href="/assets/css/knock.css" rel="stylesheet">
</head>
<body>
<div id="container">
<div id="hero"
class="d-flex justify-content-center align-items-center" style="padding:8em 0;">
<div class="knock-container position-relative" style="color:white" >
  <center>
  <br>
  <h1> Knock!綠!<br></h1><h2 style="font-weight:100">Knock Environment, Knock your life.<br>
 To make our planet greener.</h2>
  <a href=#yup class="btn-get-started">
    상세보기</a><br><a href=#yup class="btn-get-started">개발과정</a></center>
</div>
</div>

<div style="background-color:rgb(10, 61, 14); color:white;  padding:1em 0">

<br>
<div class="project-outline">
  <center><h1 class="light">프로젝트 개요</h1></center>

     <!-- ======= Counts Section ======= -->
     <div id="counts" class="counts" style="color:white">
      <div class="knock-container">
        <center>
        
<div style="font-weight:100; font-size: x-large;line-height: 1.4em;">
  <font color=#fff089><h1><b><i>01</i></b></h1></font>
      환경문제 인식 개선을 위한<br><span style="font-weight:400">캠페인 제안</span><br><br>
      <font color=#fff089><h1><b><i>02</i></b></h1></font>
지속가능한 소비를 위한<br><span style="font-weight:400">쇼핑몰 운영</span></h3></div>
</center> </div></div>
<center><h1 class="light">주요 기능</h1></center>
<!-- End Counts Section --><section id="why-us" class="why-us">
				<div class="row">
					<div class="col-lg-12 d-flex align-items-stretch" data-aos="zoom-in"
						data-aos-delay="100">
						<div class="icon-boxes d-flex flex-column justify-content-center" >
							<div class="row">
                <div class="col-lg-3 col-sm-6 d-flex align-items-stretch function-box" >
									<div class="icon-box mt-4 mt-xl-0" style="padding-bottom:33px;">
										<i class="glyphicon glyphicon-user"></i>
										<h4>회원가입<br>로그인</h4>
										<p>회원가입/로그인<br> 
                      마이페이지<br> 
                      문의하기
                      </p>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 d-flex align-items-stretch function-box">
									<div class="icon-box mt-4 mt-xl-0">
										<i class="glyphicon glyphicon-grain"></i>
										<h4>캠페인</h4>
                    <p>
                     캠페인참여<br> 펀딩참여 <br> 캠페인제안<br>커뮤니티(게시판)</p>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 d-flex align-items-stretch function-box">
									<div class="icon-box mt-4 mt-xl-0">
										<i class="glyphicon glyphicon-shopping-cart"></i>
										<h4>쇼핑몰</h4>
                      <p>상품관리<br>
                        주문<br>
                        결제<br>
                        판매내역</p>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 d-flex align-items-stretch function-box">
									<div class="icon-box mt-4 mt-xl-0">
										<i class="glyphicon glyphicon-cog"></i>
										<h4>관리자</h4>
										<p>회원 관리<br> 
                      캠페인 관리<br> 
                      문의 <br> 답변
                      </p>
									</div>
								</div>
							</div>
						</div>
						<!-- End .content-->
					</div>
				</div>

			</div>
		</section>
   
</div>
<h1 class="light">화면구현</h1>
<div class="swiper-container" >
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper" style="height:100%">
    <!-- Slides -->
    <div class="swiper-slide"><img src="/assets/img/projects/proj-3/screen1.png"></div>
    <div class="swiper-slide"><img src="/assets/img/projects/proj-3/screen2.png"></div>
    <div class="swiper-slide"><img src="/assets/img/projects/proj-3/screen4.png"></div>
    <div class="swiper-slide"><img src="/assets/img/projects/proj-3/screen5.png"></div>
    <div class="swiper-slide"><img src="/assets/img/projects/proj-3/screen6.png"></div>
    <div class="swiper-slide"><img src="/assets/img/projects/proj-3/screen7.png"></div>
    <div class="swiper-slide"><img src="/assets/img/projects/proj-3/screen8.png"></div>
    <div class="swiper-slide"><img src="/assets/img/projects/proj-3/screen9.png"></div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  <!-- pips will go here -->
  <h1 class="light" style="display:inline">상세보기</h1>(제가 맡은 기능)

</div>



  <!-- If we need navigation buttons -->

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><
</div></div><i class="bi bi-cart"></i>
</body>
<!-- <script src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>
<script src="/assets/js/scroll.js"></script> -->


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper-container', {
  // Optional parameters
  slidesPerView: "auto",
  spaceBetween:30,
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  mousewheel: {
    invert: false,
  },
});
</script>