---
layout: default
---

<!DOCTYPE html>

<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  
  <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <link href="/assets/css/medikit.css" rel="stylesheet">
</head>

<body>
  <div id="container">
    <div id="hero" class="d-flex justify-content-center align-items-center">
      <div class="knock-container position-relative" style="color:white">
        <center>
          <br>
          <h1> MEDIKIT<br></h1>
          <h2 style="font-weight:100">Manage Medical Information<br>
            More easily and Precisely</h2>
          <div class="knock-introduction">
            공공데이터를 활용한 의약품 관리 서비스를 기획, 개발하였습니다.
            <!-- 주도적으로 자신의 복약 상황을<br> 기록·
            </span>관리할 수 있는<br> 의약품 서비스를 개발하였습니다.<br> -->
            <span style="font-weight:40; color:#40a9ff "> MERN 스택</span>을 사용하였고 <span
              style="font-weight:400; color:#40a9ff">AWS EC2</span>를 통해 배포를 진행하였습니다.<br>
          </div><br>
          <a href="http://medikit.site" target="_blank" class="btn-get-started btn-1">
            바로가기</a>
            <a href="https://github.com/Dayook/medibox" target="_blank" class="btn-get-started"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;github</a>
        </center>
      </div>
    </div>

    <div class="knock-introduce" id="knock-introduce">

      <br>

      <div class="knock environment">
        <center>
          <h2 class="light">개발환경</h2><br>
          <div id='logos' style='line-height:5em; '>

            <a frameborder="0" data-theme="light" data-layers="1,2,3,4" data-stack-embed="true" href="https://embed.stackshare.io/stacks/embed/eaa14255b8eb876c304809fd213325"/></a><script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
          </div>


          <div class="knock">
              
          
            <div class="main-title">프로젝트 개요</div>
            <!-- ======= Counts Section ======= -->
            <div id="counts" class="counts" style="color:#2b2b2b">
              <div class="knock-container">
                <center>

                  <div style="font-weight:100; font-size: x-large;line-height: 1.4em;">
                    <!-- 먹는 약을 스스로 기록하고 관리함으로써 부작용을 예방하고
                    의약품 정보로의 접근성을 높이는 것을 목표로 합니다. -->
                    <div class="main-text">의약품 공공데이터를 활용하여<br/>
                    의약품을 올바르게 복용할 수 있도록 도와주는 서비스<br/>
                    </div>    
                    <div class="project-explain">복용 중인 약을 스스로 기록·관리 </div><br/>
                    <div class="project-explain">개인 차원의 의료 안전망 강화</div><br/>
                    <div class="project-explain">의약품 오남용 문제 해결 도움</div>

                    <span style='color:#40a9ff; font-weight:400'><b><i>01</i></b></span>
                    의약품 부작용을 방지하기 위한<br><span style="font-weight:400">의약품 다이어리</span><br><br>
                    <span style='color:#40a9ff; font-weight:400'><b><i>02 </i></b></span>
                    언제 어디서든 전문가와 상담 가능한<br><span style="font-weight:400">실시간 채팅</span></h3>
                  </div>
                </center>
              </div>
            </div>
            <center>
              <h2 class="light">주요 기능</h1>
            </center>
          </div>
          <!-- End Counts Section -->
          <div id="why-us" class="why-us">
            <div class="row">
              <div class="col-lg-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                  <div class="row">
                 
                    <div class="col-lg-6 col-sm-6 d-flex align-items-stretch function-box">
                      <div class="icon-box box">
                          
                        <i class="glyphicon glyphicon-pencil"></i>
                        <h4>의약품 기록</h4>
                        <p>
                          기록<br> 주의사항 <br> 의약품 달력</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 d-flex align-items-stretch function-box">
                      <div class="icon-box ">
                        
                        <i class="glyphicon glyphicon-user"></i>
                        <h4>회원가입/결제</h4>
                        <p>1:1 상담<br>
                          -메세지<br>
                          -영상
                      </div>
                    </div>
                    
                  </div>
                </div>
                <!-- End .content-->
              </div>
            </div>

          </div>
      </div>

    </div>
    <div class="knock-detail">
      <div class="knock">
        <center>


          <h2 class="light">화면구현</h1>
            <div class="screen-swiper-container" style="overflow: hidden;">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper" style="height:100%">
                <!-- Slides -->
                <div class="swiper-slide"><a href="/assets/img/projects/medikit/medi1.png" target="_blank"><img
                      src="/assets/img/projects/medikit/medi1.png"></a></div>
                <div class="swiper-slide"><a href="/assets/img/projects/medikit/medi2.png" target="_blank"><img
                      src="/assets/img/projects/medikit/medi2.png"></a></div>
                
                <div class="swiper-slide"><a href="/assets/img/projects/medikit/medi3.png" target="_blank"><img
                      src="/assets/img/projects/medikit/medi3.png"></a></div>
                <div class="swiper-slide"><a href="/assets/img/projects/medikit/medi4.png" target="_blank"><img
                      src="/assets/img/projects/medikit/medi4.png"></a></div>
                <div class="swiper-slide"><a href="/assets/img/projects/medikit/medi5.png" target="_blank"><img
                  src="/assets/img/projects/medikit/medi5.png"></a></div>

              </div>
              <!-- If we need pagination -->
              <div class="screen-swiper-pagination"></div>
              <!-- pips will go here -->

            </div>



            
            <div class="knock" id="campaign">


              <h2 class="light">기능 상세보기</h1>
                <div class="swiper-container" style="overflow: hidden;">
                 
                  <div class="swiper-wrapper" style="height:90vh">
                    
                    <div class="swiper-slide function swiper-no-swiping">
                      <div class="imgDiv">
                      <a href="/assets/img/projects/medikit/11.png"
                        target="_blank"><img id="first_1" src="/assets/img/projects/medikit/11.png"></a>
                      <!-- <h2 style="font-weight:500">#1 캠페인 제안</h1><br> -->
                        <a href="/assets/img/projects/medikit/12.png"
                        target="_blank">
                        <img id="first_2" src="/assets/img/projects/medikit/12.png"></a>
                        <a href="/assets/img/projects/medikit/mobile1.png"
                        target="_blank"><img id="first_mobile" src="/assets/img/projects/medikit/mobile1.png"></a>
                      <div className="helper">
                      </div>
                      </div>
                      <div class="function-desc first-div">
                        <div class="important-desc">
                          <span class="desc-title">-</span><br/> 병용금기약물 데이터를 통해<br><span style='color:#40a9ff'>함께 먹으면 안되는 약</span>에 대한<br/>정보를 알 수 있습니다.
                       </div><br>
                       <div class="sub-desc">
                        1. 등록하려는 약이 <br/>
                        이미 등록돼있는 약과 병용금기 관계에 있고 <br/>
                        복용기간이 겹치는 경우 경고메세지를 출력합니다.
                        <br><br>2. 그대로 등록할 시, 기존 약과 새로 등록한 약에 경고표시가 나타납니다.
                        <br><br>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide function swiper-no-swiping"><a href="/assets/img/projects/knock/knock5.png"
                        target="_blank"><img id="second_1" src="/assets/img/projects/medikit/2.png"></a>
                     
                      <div class="function-desc second-div">
                        <div class="important-desc">
                          <span class="desc-title">-</span><br/> 약 색상을 추출하고 <br>
                          그날 먹을 약들을 달력에<br> 나타낼 수 있어요
                          <span style='color:#40a9ff'>
                       </div><br>
                       <div class="sub-desc">
                        1. 특정 픽셀의 색상값을 <br/>
                        Python PIL 라이브러리를 통해 추출하고 <br/>
                        의약품 정보와 함께 DB에 저장하여<br/>
                        
                        <br><br>2. 그대로 등록할 시, 기존 약과 새로 등록한 약에 경고표시가 나타납니다.
                        <br><br>
                        </div>

                      </div>
                    </div>
                    <div class="swiper-slide function swiper-no-swiping">
                      <a href="/assets/img/projects/medikit/31.png"
                      target="_blank"><img id="third_1" src="/assets/img/projects/medikit/31.png"></a>
                      <a href="/assets/img/projects/medikit/32.png"
                      target="_blank"><img id="third_2" src="/assets/img/projects/medikit/32.png"></a>
                      <a href="/assets/img/projects/medikit/mobile3.png"
                      target="_blank"><img id="third_mobile" src="/assets/img/projects/medikit/mobile3.png"></a>
                    <div class="function-desc" id="thirdDesc">구독
                      <a href="/assets/img/projects/medikit/32.png"
                      target="_blank"><img id="third_2" src="/assets/img/projects/medikit/32.png"></a>
                    </div>
                  </div>


            

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- pips will go here -->

            </div>



            <!--end campaign-->
      </div>
      <div class="last light" style="font-size: medium;">
      <div><center>
        <h1> <i class="glyphicon glyphicon-grain"></i></h1><br>
        2020년 공공데이터 해커톤 아이디어부문 수상을 계기로<br>
        웹개발을 학습하게 되었으며 react를 익혀 1인 프로젝트를 진행해 보았습니다.<br>
        실시간 메세지/영상 채팅 기능과 <br>
        가족별 의약품 복용 현황 관리 기능을 추가할 계획입니다.<br>
        <br>
        <a href="https://www.notion.so/f363add280984e1abd81bfb8de2a4d04"><img src="/assets/img/projects/knock/notion-logo-1.png" width="20"></a>
        <a class="blue" href="https://www.notion.so/f363add280984e1abd81bfb8de2a4d04">기획안 PPT 확인하기</a> <br><br>
        <!-- <h2>개발일지</h2><br>
        <span style="font-weight:400">매뉴얼/이름규칙/논의사항/DB설계<br>개인 진행상황/회의록</span>을<br>
        노션을 통해 기록하고 공유하며 개발을 진행하였습니다.<br><br>
        <a href="https://www.notion.so/Knock-Final-Project-40fcaf1c922542128cb61b24fe1637a0"><img src="/assets/img/projects/knock/notion-logo-1.png" width="20"></a>
        <a class="yellow" href="https://www.notion.so/Knock-Final-Project-40fcaf1c922542128cb61b24fe1637a0">Knock!綠 노션 바로가기</a> <br><br>
      </div>
      <div>
        <h1> - </h1><br>
        <br>


        약 3주의 개발기간 이후<br> 미흡했던 부분을 보완하는 동시에<br>
        프로젝트에 사용된 라이브러리와 API를 블로그에 정리하고 있습니다.<br><br>

        <a class="yellow" href="https://github.com/Knock-bit/KnockKnock" target="_blank">[github] knock!綠! repository</a><br>
        <a class="yellow" href="/sending-mail-by-java.html" target="_blank">[blog] 자바로 이메일 보내기</a><br>
        <a class="yellow" href="/java-scheduling.html">[blog] 자바 스케쥴러</a><br>
        <a class="yellow" href="/payment-API.html">[blog] 결제 API 사용하기</a><br>
 -->

        <a href=# class="btn-return" style="color:white">
          상단으로</a>
        </center>
      </div></div>
      </center>
    </div>
  </div>

  </div>



  </div>
  </div>
</body>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>

var swiper = new Swiper(".swiper-container", {
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          // renderBullet: function (index, className) {
          //   return '<span class="' + className + '">' + (index + 1) + "</span>";
          // },
        },
        mousewheel: {
         invert: false,
        },
      });

  const screenSwiper = new Swiper('.screen-swiper-container', {
    // Optional parameters
    spaceBetween: 30,
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.screen-swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    mousewheel: {
      invert: false,
    },
  });

</script>